#4.contents
  .contents-4
    %h2 上場株式配当金
    .contents-4-wrap
      .contents-4-form
        %form#form4{:action => "", :name => "form4"}
          入金額：
          %input#textbox4{:type => "text", :value => ""}/
      .contents-4-button
        %input#mathButton4.mathButton{:type => "button", :value => "計算"}/
        %input#clear4.clearButton{:type => "button", :value => "クリア"}/
      .contents-4-comment
        %p ※金額は半角数字で入力してください
        %p ※利用は自己責任でお願いします
      .contents-4-result
        #haitou2
        #syotoku2
        #hukkou2
        #totalTax2
