#1.contents
  .contents-1
    %h2 手形分割計算
    .contents-1-wrap
      .contents-1-left
        .contents-1-form
          %form#form1{:action => "", :name => "form1"}
            手形金額入力：
            %input#textbox1{:type => "text", :value => ""}/
        .contents-1-select
          %select{:id => "", :name => ""}
            %option#target1 手形2枚
            %option#target2 手形3枚
        .contents-1-button
          %input#mathButton1.mathButton{:type => "button", :value => "計算"}/
          %input#clear1.clearButton{:type => "button", :value => "クリア"}/
        .contents-1-comment
          %p ※金額は半角数字で入力してください
          %p ※利用は自己責任でお願いします
        .contents-1-result
          .tegata
            #tegata1
            #tegata2
            #tegata3
          .insi
            #insi1
            #insi2
            #insi3
      .contents-1-right
        .contents-1-data
          %table
            %tr
              %th 10万円未満
              %td 非課税
              %td 3千万円を超え5千万円以下
              %td 1万円
            %tr
              %th 10万円以上100万円以下
              %td 200円
              %td 5千万円を超え1億円以下
              %td 2万円
            %tr
              %th 100万円を超え200万円以下
              %td 400円
              %td 1億円を超え2億円以下
              %td 4万円
            %tr
              %th 200万円を超え300万円以下
              %td 600円
              %td 2億円を超え3億円以下
              %td 6万円
            %tr
              %th 300万円を超え500万円以下
              %td 1千円
              %td 3億円を超え5億円以下
              %td 10万円
            %tr
              %th 500万円を超え1千万円以下
              %td 2千円
              %td 5億円を超え10億円以下
              %td 15万円
            %tr
              %th 1千万円を超え2千万円以下
              %td 4千円
              %td 10億円を超えるもの
              %td 20万円
            %tr
              %th 2千万円を超え3千万円以下
              %td 6千円
              %td
              %td
