#3.contents
  .contents-3
    %h2 非上場株式配当金
    .contents-3-wrap
      .contents-3-form
        %form#form3{:action => "", :name => "form3"}
          入金額：
          %input#textbox3{:type => "tel", :value => ""}
      .contents-3-button
        %input#mathButton3.mathButton{:type => "button", :value => "計算"}
        %input#clear3.clearButton{:type => "button", :value => "クリア"}
      .contents-3-comment
        %p ※金額は半角数字で入力してください
        %p ※利用は自己責任でお願いします
      .contents-3-result
        %table.contents-3-table
          %tr.caution
            %th 配当金額 :
            %td#haitou1
          %tr.caution
            %th 所得税額 :
            %td#syotoku1
          %tr.caution
            %th 復興税額 :
            %td#hukkou1
          %tr.caution
            %th 税額合計 :
            %td#totalTax1     
        
        
        
        
