#7.contents
  .contents-7
    %h2 売上代金に係る金銭又は有価証券の受取書
    .contents-7-wrap
      .contents-7-left
        .contents-7-form
          %form#form7{:action => "", :name => "form7"}
            金額：
            %input#textbox7{:type => "tel", :value => ""}
        .contents-7-button
          %input#mathButton7.mathButton{:type => "button", :value => "計算"}
          %input#clear7.clearButton{:type => "button", :value => "クリア"}
        .contents-7-comment
          %p.caution ※金額は半角数字で入力してください
          %p.caution ※利用は自己責任でお願いします
        .contents-7-result
          .caution#output24
          .caution#output25
          .caution#output26
          .caution#output27
      .contents-7-right
        .contents-7-data
          %table.contents-7-table
            %tr
              %th 記載金額
              %td 税額
            %tr
              %th 5万円未満
              %td 非課税
            %tr
              %th 5万円以上100万円以下
              %td 200円
            %tr
              %th 100万円を超え200万円以下
              %td 400円
            %tr
              %th 200万円を超え300万円以下
              %td 600円
            %tr
              %th 300万円を超え500万円以下
              %td 1000円
            %tr
              %th 500万円を超え1000万円以下
              %td 2000円
