#3.contents
  .contents-3
    %h2 非上場株式配当金
    .contents-3-wrap
      .contents-3-form
        %form#form3{:action => "", :name => "form3"}
          入金額：
          %input#textbox3{:type => "text", :value => ""}/
      .contents-3-button
        %input#mathButton3.mathButton{:type => "button", :value => "計算"}/
        %input#clear3.clearButton{:type => "button", :value => "クリア"}/
      .contents-3-comment
        %p.caution ※金額は半角数字で入力してください
        %p.caution ※利用は自己責任でお願いします
      .contents-3-result
        #haitou1
        #syotoku1
        #hukkou1
        #totalTax1
