.side
  %a{:href => "#1"} 手形分割計算
  %a{:href => "#2"} 預金利息
  %a{:href => "#3"} 非上場株式配当金
  %a{:href => "#4"} 上場株式配当金
  %a{:href => "#5"} 契約書
  %a{:href => "#6"} 源泉
  %a{:href => "#7"} 売上代金に係る金銭又は有価証券の受取書
