.side
  .side-btn
    %a{:href => "#1"} 
      %p 手形分割計算
    %i.fas.fa-angle-right
  .side-btn
    %a{:href => "#2"} 
      %p 預金利息
    %i.fas.fa-angle-right
  .side-btn
    %a{:href => "#3"} 
      %p 非上場株式配当金
    %i.fas.fa-angle-right
  .side-btn
    %a{:href => "#4"} 
      %p 上場株式配当金
    %i.fas.fa-angle-right
  .side-btn
    %a{:href => "#5"} 
      %p 契約書
    %i.fas.fa-angle-right
  .side-btn
    %a{:href => "#6"} 
      %p 源泉
    %i.fas.fa-angle-right
  .side-btn
    %a{:href => "#7"} 
      %p 
        売上代金に係る
        %br
        金銭又は有価証券の受取書
    %i.fas.fa-angle-right
